/* Base
============================================================================= */
:root {
        /* Strong */
        /* Theme Blue */
        /* --strong-color         : #0b87da; */
        /* Theme Green */
        --strong-color         : #42b983;
        --strong-font-weight   : 600;
}

/* Content
============================================================================= */
:root {
    --content-max-width                 : 90%;
    --link-text-decoration              : none;

    /* Theme Blue */
    --heading-h1-color                  :#0b87da;
    --heading-h2-color                  :#0b87da;
    --heading-h3-color                  :#0b87da;
    --heading-h4-color                  :#0b87da;
    --heading-h5-color                  :#0b87da;
    --heading-h6-color                  :#0b87da;

    /* Theme Green */
/*     --heading-h1-color                  :#42b983;
    --heading-h2-color                  :#42b983;
    --heading-h3-color                  :#42b983;
    --heading-h4-color                  :#42b983;
    --heading-h5-color                  :#42b983;
    --heading-h6-color                  :#42b983; */
}

/* Cover
============================================================================= */
:root {
    --cover-max-width                                  : 60%;
    /* Background */
    --cover-background-mask-color                      : #212951;
}

/* Sidebar
============================================================================= */
:root {
    --sidebar-nav-link-text-decoration--active    : none;
    --sidebar-nav-link-text-decoration--hover     : none;
    --sidebar-width: 25rem;
}

/* Navbar
============================================================================= */
/* :root {


} */

.app-nav li {
    cursor: pointer;
}

.color_custom01a { color:#8ecae6; }
.color_custom01b { color:#219ebc; }
.color_custom01c { color:#023047; }
.color_custom01d { color:#ffb703; }
.color_custom01e { color:#fb8500; }
.color_black { color:black; }

.markdown-section a.anchor:hover {
    text-decoration: none;
}

article#main.markdown-section > h1 {
    border-left: darkred 5px solid;
    padding-left: 10px;
    font-weight: bolder;
}

article#main.markdown-section > details { border-left: darkcyan 3px solid; padding-left: 10px; }

article#main.markdown-section > span > ul > li {
    width:250px;
    display:inline-block;
    border-radius: 20px;
    /*border: 2px solid #73AD21;*/
    border: 2px solid lightsalmon;
    padding: 5px;
    text-align: center;
    margin:10px;
    /* text-shadow: 2px 2px 4px #000000; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*article#main.markdown-section > span > ul > li > a:hover {color:#fb8500;}*/

article#main.markdown-section > span > ul > li:nth-child(even) {border: 2px solid lightskyblue;}
/*article#main.markdown-section > span > ul > li:nth-child(even) {border: 2px solid #0b87da;}*/
article#main.markdown-section > span > ul > li:hover {border: 2px solid red;}

.apps-container, .bdd-container {
    display: flex;
    flex-wrap: wrap;
}
  
.apps-container > div {
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    /* font-size: 12px; */
    border-radius: 20px;
    border: 2px solid #73AD21;
    padding: 10px;
    /* text-shadow: 2px 2px 4px #000000; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.apps-container > div:nth-child(even) {border: 2px solid #0b87da;}
.apps-container > div:nth-child(even):hover {border: 2px solid red;}


.apps-container > div:hover {
    border: 2px solid red;
}